html, body 
{
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

#container
{
    display: flex;
    flex: 1 1 100vh;
    padding-left: 20px;
}

#left
{
    width: 75%
}

#right
{
    width: 25%
}

#greeting
{
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
    color: grey;
}

#archive-info
{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.infobox
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

.infobox-label
{
    text-align: left;
    height: 2em;
    color: grey;
}

.infobox-value
{
    text-align: right;
    font-size: x-large;
    padding-right: 15px;
}

#area-by-freq
{
    display: flex;
    height: 30vh;
}

.plot-axis line, path, text
{
  color: grey;
}

.axis-label
{
  fill: grey;
  font-size: x-small;
}

.band-display
{
    fill: #ebebf4;
}

.bar-display
{
    stroke-width: 0;
    fill: rgb(85, 55, 85);
}

.band-label
{
    fill: white;
}