{% extends 'base.html' %}

{% load static %}

{% block content %}

<link href="{% static 'field_plot/styles.css' %}" rel="stylesheet" type="text/css" />

<div id="container">
    <div id="plot-controller">
        <div id="plot-parameters" class="boxes">

        </div>
        <div class="separator big"></div>
        <div id="infobox-plot" class="infobox">
            Plot info
            <div id="infobox-plot-wrapper" class="values-container">

            </div>
        </div>
        <div class="sep-horizontal big"></div>
        <div id="infobox-pixel" class="infobox">
            Pixel info
            <div id="infobox-pixel-wrapper" class="values-container">
                <div class="info-values">
                    <div id="coordinates">

                    </div>
                    <div class="sep-vertical"></div>
                    <div id="properties">

                    </div>
                </div>
                <div id="info-plots">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
