{% extends 'base.html' %}

{% load static %}

{% block content %}

<link href="{% static 'field_plot/style.css' %}" rel="stylesheet" type="text/css" />
<script>
	const IMAGE_DIR = "{% static 'field_plot/images/' %}"
</script>
<div id="container">
	<div id="plot-controller">
		<div id="plot-parameters" class="pane-frame">
			<form id="form-plot" class="plot-parameters-form">
				<!-- TOP ROW (Ra/dec, size, resolution -->
				<div class="plot-parameters-form-region">
					<label for="fname">Region</label>
					<div class="form-controls-area">
						<div class="plot-parameters-form-region-row">
							<div class="plot-parameters-textbox-large"><label for="formfield_ra" class="text-label">RA</label><br>
								<input type="text" id="formfield_ra" name="formfield_ra" title="formfield_ra"><br></div>
							<div class="plot-parameters-textbox-large"><label for="formfield_dec" class="text-label">Dec</label><br>
								<input type="text" id="formfield_dec" name="formfield_dec" title="formfield_dec"><br></div>
						</div>
						<div class="plot-parameters-form-region-row">
							<div class="plot-parameters-textbox-large"><label for="formfield_size" class="text-label">Angular size</label><br>
								<input type="text" id="formfield_size" name="formfield_size" value=""><br></div>
							<div class="plot-parameters-textbox-large"><label for="formfield_res" class="text-label">Resolution</label><br>
								<input type="text" id="formfield_res" name="formfield_res"><br></div><br>
						</div>
					</div>
				</div>
				<div class="sep-vertical"></div>
				<div class="plot-parameters-form-frequency">
					<label for="fname">Frequency</label>
					<div class="form-controls-area">
						<div class="form-controls-area-inner">
							<div class="plot-parameters-form-frequency-options">
								<div class="plot-parameters-form-frequency-bands-wrapper plot-parameters-align">
									<label for="radio-1" class="radio-custom">Bands</label>
									<input type="radio" name="freq_option" id="radio-1" value="freq-bands">
									<div class="row-block">
										<div class="plot-parameters-form-frequency-bands-row">
											<div class="plot-parameters-checkbutton">
												<input type="checkbox" id="formfield_band3" name="band_box" value="Band 3">
												<label for="formfield_band3" class="text-label">3</label><br></div>
											<div class="plot-parameters-checkbutton">
												<input type="checkbox" id="formfield_band4" name="band_box" value="Band 4">
												<label for="formfield_band4" class="text-label">4</label><br></div>
											<div class="plot-parameters-checkbutton">
												<input type="checkbox" id="formfield_band5" name="band_box" value="Band 5">
												<label for="formfield_band5" class="text-label">5</label><br></div>
											<div class="plot-parameters-checkbutton">
												<input type="checkbox" id="formfield_band6" name="band_box" value="Band 6">
												<label for="formfield_band6" class="text-label">6</label><br></div>
										</div>
										<div class="plot-parameters-form-frequency-bands-row">
											<div class="plot-parameters-checkbutton">
												<input type="checkbox" id="formfield_band7" name="band_box" value="Band 7">
												<label for="formfield_band7" class="text-label">7</label><br></div>
											<div class="plot-parameters-checkbutton">
												<input type="checkbox" id="formfield_band8" name="band_box" value="Band 8">
												<label for="formfield_band8" class="text-label">8</label><br></div>
											<div class="plot-parameters-checkbutton">
												<input type="checkbox" id="formfield_band9" name="band_box" value="Band 9">
												<label for="formfield_band9" class="text-label">9</label><br></div>
											<div class="plot-parameters-checkbutton">
												<input type="checkbox" id="formfield_band10" name="band_box" value="Band 10">
												<label for="formfield_band10" class="text-label">10</label><br></div>
										</div>
									</div>
								</div>
								<div class="plot-parameters-form-frequency-values-wrapper plot-parameters-align">
									<label for="radio-2" class="radio-custom">Frequency Range</label>
									<input type="radio" name="freq_option" id="radio-2" value="freq-range">
									<div class="plot-parameters-form-frequency-values freq-range-center">
										<div class="plot-parameters-textbox-small">
											<label for="formfield_freq_min" class="text-label">Start:</label>
											<input type="text" id="formfield_freq_min" name="formfield_freq">
										</div>
										<div class="plot-parameters-textbox-small">
											<label for="formfield_freq_max" class="text-label">End:</label>
											<input type="text" id="formfield_freq_max" name="formfield_freq">
										</div>
									</div>
								</div>
								<div class="plot-parameters-form-frequency-lines-wrapper plot-parameters-align">
									<label for="radio-3" class="radio-custom">Emissions Lines</label>
									<input type="radio" name="freq_option" id="radio-3" value="freq-lines">
									<div class="plot-parameters-form-frequency-lines">
										<select name="emission_lines" id="form-lines" class="selectmenu-lines"></select>
									</div>
								</div>
							</div>
							<div class="sep-horizontal-small"></div>
							<div class="plot-parameters-form-frequency-controls">
								<div class="plot-parameters-form-frequency-controls-redshift-wrapper">
									<span class="text-label">Redshift</span>
									<div class="slider-row-label">
										<div id="formfield-redshift" class="plot-parameters-slider-range"></div>
										<div class="redshift-sym text-label">&zscr; =&nbsp;<div id="redshift-val-min">0.0</div>~<div id="redshift-val-max">0.0</div></div>
									</div>
								</div>
								<input class="ui-button ui-widget ui-corner-all submit-button" type="submit" value="Render">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- ----------------------------------------------------------------- -->
		<div class="separator big"></div>
		
		<div id="plot-information">
			<div id="info-row">
				<div id="infotabs">
					<ul>
						<li><a href="#tab-plot-information">Plot information</a></li>
						<li><a href="#tab-frequency-coverage">Frequency support</a></li>
						<li><a href="#tab-gained-sensitivity">Gained sensitivity</a></li>
					</ul>	
					<div id="tab-plot-information" class='pane-frame'></div>
					<div id="tab-frequency-coverage" class='center'></div>
					<div id="tab-gained-sensitivity" class='center'></div>
				</div>
			</div>
			<div class="sep-horizontal-small"></div>
			<div id="observations-table">
				<div class="info-wrapper">
					<table id='obs_list' class='display compact' width='90%'>
						<thead>
							<tr>
								<th>Project code</th>
								<th>Source name</th>
								<th>RA</th>
								<th>Dec</th>
								<th>Total area</th>
								<th>Overlapping area</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="sep-vertical-plot"></div>
	<div id="plot">
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
		<script type="module" src="{% static 'field_plot/plot.js' %}"></script>
		<script type="module" src="{% static 'field_plot/freq_histogram.js' %}"></script>
		<script type="module" src="{% static 'field_plot/controller.js' %}"></script>
	</div>
</div>	

{% endblock content %}
