{% extends 'base.html' %}

{% load static %}

{% block content %}

<link href="{% static 'field_plot/style.css' %}" rel="stylesheet" type="text/css" />

<div id="container">
	<div id="plot-controller">
		<div id="plot-parameters" class="infobox parameters">
			<form id="form-plot" class="plot-parameters-form">
				<!-- TOP ROW (Ra/dec, size, resolution -->
				<div class="plot-parameters-form-region">
					<label for="fname">Region</label>
					<div class="form-controls-area">
						<div class="plot-parameters-form-region-row">
							<div class="plot-parameters-textbox-large"><label for="formfield_ra" class="textbox-label">RA</label><br>
								<input type="text" id="formfield_ra" name="formfield_ra"><br></div>
							<div class="plot-parameters-textbox-large"><label for="formfield_dec" class="textbox-label">Dec</label><br>
								<input type="text" id="formfield_dec" name="formfield_dec"><br></div>
						</div>
						<div class="plot-parameters-form-region-row">
							<div class="plot-parameters-textbox-large"><label for="formfield_size" class="textbox-label">Angular size</label><br>
								<input type="text" id="formfield_size" name="formfield_size" value=""><br></div>
						</div>
					</div>
				</div>
				<div class="plot-parameters-form-frequency">
					<label for="fname">Frequency</label>
					<div class="form-controls-area">
						<div class="plot-parameters-form-frequency-bands">
							<div class="plot-parameters-form-frequency-bands-row">
								<div class="plot-parameters-checkbutton">
									<input type="checkbox" id="formfield_band3" name="formfield_band3" value="Band 3">
									<label for="formfield_band3" class="textbox-label">Band 3</label><br></div>
								<div class="plot-parameters-checkbutton">
									<input type="checkbox" id="formfield_band4" name="formfield_band4" value="Band 4">
									<label for="formfield_band4" class="textbox-label">Band 4</label><br></div>
								<div class="plot-parameters-checkbutton">
									<input type="checkbox" id="formfield_band5" name="formfield_band5" value="Band 5">
									<label for="formfield_band5" class="textbox-label">Band 5</label><br></div>
								<div class="plot-parameters-checkbutton">
									<input type="checkbox" id="formfield_band6" name="formfield_band6" value="Band 6">
									<label for="formfield_band6" class="textbox-label">Band 6</label><br></div>
							</div>
							<div class="plot-parameters-form-frequency-bands-row">
								<div class="plot-parameters-checkbutton">
									<input type="checkbox" id="formfield_band7" name="formfield_band7" value="Band 7">
									<label for="formfield_band7" class="textbox-label">Band 7</label><br></div>
								<div class="plot-parameters-checkbutton">
									<input type="checkbox" id="formfield_band8" name="formfield_band8" value="Band 8">
									<label for="formfield_band8" class="textbox-label">Band 8</label><br></div>
								<div class="plot-parameters-checkbutton">
									<input type="checkbox" id="formfield_band9" name="formfield_band9" value="Band 9">
									<label for="formfield_band9" class="textbox-label">Band 9</label><br></div>
								<div class="plot-parameters-checkbutton">
									<input type="checkbox" id="formfield_band10" name="formfield_band10" value="Band 10">
									<label for="formfield_band10" class="textbox-label">Band 10</label><br></div>
							</div>
						</div>
						<br>
						<div class="plot-parameters-form-frequency-redshift">
							<label for="coiso" class="textbox-label">Redshift</label>
							<div class="plot-parameters-form-frequency-redshift-slider">
								<input type="range" id="formfield_redshift" min=0 max=12 value=0 step=0.1 class="zvalue">
								<div class="redshift-sym textbox-label">&zscr; =&nbsp;<div id="redshift-val">0.0</div></div> 
							</div>
						</div>
					</div>
				</div>
				<div class="sep-vertical"></div>
				<div class="plot-parameters-form-plot">
					<label for="formfield_res">Plot</label>
					<div class="form-controls-area">
						<div class="plot-parameters-textbox-large"><label for="formfield_res" class="textbox-label">Resolution</label><br>
							<input type="text" id="formfield_res" name="formfield_res"><br></div><br>
						<input type="submit" name="submit" class="submit-button" value="Render">
					</div>
				</div>
				<!--
				<select id="plot-sizes" onchange="updateDataset(this)">
					<option value="zoomout">4 deg<sup>2</sup>, 10 arcsec</option>
					<option value="zoomin">0.25 deg<sup>2</sup>, 5 arcsec</option>
				</select>

				<select id="plot-color-property" onchange="updateCanvas(this)">
					<option value="count_obs">Observation count</option>
					<option value="avg_res">Average resolution</option>
					<option value="avg_sens">Average sensitivity (10km/s)</option>
					<option value="avg_int_time">Average integration time</option>
				</select>
				-->
			</form>
		</div>
		<!-- ----------------------------------------------------------------- -->
		<div class="separator big"></div>
		<div id="infobox-plot" class="infobox">
			Plot info
			<div id="infobox-plot-wrapper" class="values-container">
				
			</div>
		</div>
		<div class="sep-horizontal-small"></div>
		<!-- ----------------------------------------------------------------- -->
		<div id="infobox-pixel" class="infobox">
			Pixel info
			<div id="infobox-pixel-wrapper" class="values-container">
				<div class="info-values">
					<div id="coordinates">
						
					</div>
					<div class="sep-vertical"></div>
					<div id="properties">

					</div>
				</div>
				<div id="info-plots">
				
				</div>
			</div>
		</div>
	</div>

	<div id="plot">
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="./plot.js"></script>
		<script src="./controller.js"></script>
	</div>
</div>	

{% endblock content %}
