{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="url-div-bands" data-url="{% url 'get_bands' %}"></div>
<link href="{% static 'home/style.css' %}" rel="stylesheet" type="text/css"/>
<div id="container">
    <div id="left">
        <div id="greeting">
            Welcome to the ALMA Science Hub!
        </div>
        <div class="separator"></div>
        <div id="archive-info">
            <div class="infobox" id="box-number-observations">
                <div class="infobox-label">Number of observations</div>
                <div class="infobox-value" id="number-observations">asd</div>
            </div>
            <div class="infobox" id="box-total-area">
                <div class="infobox-label">Total area (estimated)</div>
                <div class="infobox-value" id="total-area">asd</div>
            </div>
            <div class="infobox" id="box-overlap-area">
                <div class="infobox-label">Overlapping area (estimated)</div>
                <div class="infobox-value" id="overlap-area">asd</div>
            </div>
        </div>
        <div id="area-by-freq">
            
        </div>
    </div>
    <div class="sep-vertical-large"></div>
    <div id="right">
        <div id="feed">
            <a class="twitter-timeline" height="calc(100vh - 50px)" href="https://twitter.com/tonas1997/lists/almanext-15665?ref_src=twsrc%5Etfw">Tweets by @almaobs and @IAstroPT</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="module" src="{% static 'home/main.js' %}"></script>

{% endblock content %}